@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    background-color: rgb(17, 17, 17);
}


/* banner section starts from here */
.inter-font{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}

.header-class {
    width: 100%;
    height: 800px;
    background-image: linear-gradient(rgba(15, 14, 14, 0.397), rgba(0, 0, 0, 0.479));
}

.nav-title {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 0 0;
}

.nav-text {
    color: rgba(230, 83, 60, 1);
    font-size: 2.5rem;
}

.banner-section {
    position: relative;
}

.banner-container-section {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.banner-content-section {
    width: 50%;
    margin: 120px 0 0 0;

}

.banner-title-section{
    font-size: 5rem;
    color: white;
    line-height: 6rem;
    font-weight: 900;
}

span {
    font-family: "Miama", sans-serif;
    font-size: 11rem;
    font-weight: 200;

}



.banner-text {
    font-size: 1rem;
    color: white;
    opacity: 50%;
    line-height: 1.5rem;
    margin-top: 10px;

}

.btn1 {
    background-color: rgba(230, 83, 60, 1);
    padding: 15px 50px;
    color: white;
    font-size: 1rem;
    margin-top: 30px;
    border: 2px solid rgb(230, 83, 60);
    font-weight: 600;
    border-radius: 50px;
    margin-right: 30px;
}

.btn2 {
    padding: 15px 50px;
    color: white;
    font-size: 1rem;
    margin-top: 30px;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 600;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
}
.banner-image img {
    width: 100%;
    height: 100%;
    margin-top: 50px;

}

.round-video {
    background-color: rgba(63, 63, 63, 0.402);
    backdrop-filter: blur(7px);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    position: absolute;
    top: 80%;
    right: 27%;
    border: 1px solid rgba(115, 115, 115, 0.418);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 15px;

}

.round-section {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 25px;
    background-color: rgb(230, 83, 60);
}
.video-num {
    font-size: 1.5rem;
    color: white;
}

.video-text {
    font-size: 1rem;
    color: rgb(199, 199, 199);
    margin: 5px 0;
}



.workout {
    background-color: rgba(63, 63, 63, 0.402);
    backdrop-filter: blur(7px);
    width: 200px;
    height: 100px;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    right: 5%;
    border: 1px solid rgba(115, 115, 115, 0.418);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 15px;
}

.workout-num {
    font-size: 2.25rem;
    color: white;

}

.workout-text {
    font-size: 1rem;
    color: rgb(199, 199, 199);
    margin: 5px 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 25px;

}

.bar-icon {
    display: none;


}

nav ul li {
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
    align-items: center;
    line-height: 0;
    margin: 0 60px 0 0;
}

#home {
    background-color: rgba(230, 83, 60, 1);
    padding: 20px 25px;
    border-radius: 25px;
    margin-left: -6px;
    font-weight: 500;
}

#about-box {
    margin-right: 30px;
}
/* banner section ends here  */
/* habit section starts here */
.change-habit {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.change-habit-text {
    width: 650px;
    margin: 0 auto;
    text-align: center;
}

.change-habit-title{
    font-size: 3rem;
    color: white;
}

.change-box {
    width: 200px;
    height: 400px;
    text-align: center;
    margin-top: 100px;
}

.change-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid rgb(33, 33, 33);
}

.box-image {
    width: 100%;
}

.change-habit-box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.box-title {
    color: white;
    margin-top: 15px;
    font-size: 1.2rem;
}

.run-container {
    width: 80%;
    height: 400px;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0 auto;
    padding: 30px;
}

.run-text {
    width: 40%;
    margin: auto 0 auto 50px;

}

.run-title {
    font-size: 3.5rem;
    color: white;

}

.run-content {
    font-size: 1rem;
    color: white;
    opacity: 50%;
    line-height: 1.5rem;
    margin-top: 10px;
}

.run-image {
    display: inline-grid;
    overflow: hidden;
    width: 400px;
    height: auto;
    border-radius: 10px;
}

.run-image img {
    width: 100%;
    transform: scale(3);
    transform-origin: 280px 60px;
}

.content {
    font-size: 1rem;
    color: white;
    opacity: 50%;
    line-height: 1.5rem;
    margin-top: 10px;}
/* habit section ends here */
/* unique section starts here */
.equipment-section {
    margin-top: 100px;
}

.equipment-title h3 {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}

.equipment-title {
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: center;
}

.equipment-description {
    font-size: 1rem;
    color: white;
    opacity: 50%;
    line-height: 1.5rem;
    margin-top: 10px;
    font-weight: 200;
}

.equipment-card-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.equipment-card {
    width: 100%;
    max-width: 350px;
    background-color: rgba(34, 34, 34, 0.61);
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.equipment-image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 20px;
}

.equipment-name {
    color: white;
    margin: 10px 0;
    font-size: 1.6rem;
}

.equipment-info {
    color: rgb(122, 122, 122);
    font-size: 0.9rem;
    line-height: 1.4rem;
    flex-grow: 1;
}

.equipment-btn {
    background-color: rgba(230, 83, 60, 1);
    padding: 10px 30px;
    color: white;
    font-size: 1rem;
    border: none;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.equipment-btn:hover {
    background-color: rgba(200, 73, 53, 1);
}
/* unique section ends here */

/* BMI section starts here */

.bmi-calculator-section {
    margin-top: 100px;
}

.bmi-header {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

.bmi-header h3 {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
}

.bmi-subtitle {
    font-size: 1rem;
    color: white;
    font-weight: 200;
    opacity: 50%;
    margin-bottom: 30px;
}

.calculator-wrapper {
    width: 100%;
    height: 400px;
    background-color: rgba(34, 34, 34, 1);
}

.calculator-container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.bmi-chart {
    width: 400px;
}

caption {
    text-align: start;
    font-size: 1.75rem;
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 50px;
}

table,
th,
td {
    border-collapse: collapse;
    border: 2px solid rgba(77, 77, 77, 0.425);
    color: white;
    padding: 10px 20px;
    text-align: start;
}

td {
    font-size: .8rem;
    font-weight: 300;
    color: rgb(158, 158, 158);
}

th {
    font-size: 1rem;
}

.bmi-calculation-form {
    width: 600px;
}

.bmi-calculation-form h3 {
    text-align: start;
    font-size: 1.75rem;
    font-weight: 800;
    color: white;
    margin-bottom: 15px;
    margin-top: 50px;
}

.form-description {
    font-size: 1rem;
    color: white;
    font-weight: 200;
    opacity: 50%;
    margin-bottom: 20px;
}

.form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

input,
#gender-select,
#activity-level-select {
    padding: 15px;
    background-color: rgba(70, 69, 69, 0.712);
    border: none;
    border-radius: 7px;
    color: rgb(158, 158, 158);
    font-size: 1rem;
    font-weight: 200;
}

#activity-level-select {
    grid-column: span 2;
}

.calculate-btn {
    background-color: rgba(230, 83, 60, 1);
    padding: 10px 60px;
    color: white;
    font-size: 1.2rem;
    border: none;
    font-weight: 400;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.calculate-btn:hover {
    background-color: rgba(200, 73, 53, 1);
}
/* BMI section starts here */
/* Meet our team starts here */
.team-section {
    width: 100%;
    margin-top: 100px;
}

.team-header {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.team-header h3 {
    font-size: 3rem;
    color: white;
}

.team-intro {
    font-size: 1rem;
    color: white;
    opacity: 0.7;
    margin-top: 10px;
}

.team-gallery {
    width: 80%;
    height: 620px;
    background-color: rgba(70, 69, 69, 0.712);
    margin: 0 auto;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
}

.team-member {
    position: relative;
    display: inline-grid;
    overflow: hidden;
    width: 100%;
    height: 280px;
    border-radius: 15px;
}

.member-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(90%);
}

.member-details {
    position: absolute;
    z-index: 10;
    top: 80%;
    left: 7%;
}

.member-details h4 {
    font-size: 1.25rem;
    color: white;
}

.member-details p {
    font-size: 1rem;
    color: white;
    opacity: 0.5;
}

/* Meet our team ends here */
/* Footer section starts here */
.site-footer {
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 100px;
}

.footer-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-branding {
    width: 30%;
}

.branding-title {
    font-size: 4.375rem;
    color: rgb(230, 83, 60);
    letter-spacing: 0%;
    margin-bottom: 20px;
    margin-top: 2rem;
}

.branding-description {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    opacity: 80%;
    line-height: 1.5rem;
    margin-top: 10px;
}

.footer-links-group h4,
.footer-links-category h4 {
    font-size: 1.75rem;
    color: white;
    margin-bottom: 1.25rem;
    margin-top: 2rem;
}

.footer-links-group li,
.footer-links-category li {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    opacity: 70%;
    line-height: 2.5rem;
    font-size: 1.2rem;
    font-weight: 200;
    cursor: pointer;
}

.footer-links-group li:hover,
.footer-links-category li:hover {
    color: rgb(230, 83, 60);
    transition: 0.3s;
    font-weight: 400;
}

.site-footer hr {
    margin: auto;
    width: 80%;
    opacity: 20%;
}


.copyright-text {
    margin:  auto;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    text-align: center;
    letter-spacing: 0.3%;
    margin-top: 30px;
    width: 80%;
    /* margin-bottom: 50px; */
}

/* footer section starts here */



@media only screen and (max-width: 576px) {

    .nav-content {
       display: none;
    }
    .dot-icon{
        color: white;
        display: block;
    }
    

}
